<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liux.pay">

    <application>

        <activity
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"/>

    </application>

</manifest>
