<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liux.example">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".ApplocationCus"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 高德 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="af25bd83af1f91ec22cd84d348ae91ff"/>

        <!-- 百度 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="WqV4z6zqvxm3mci7fsq6c9pcUYmYGcXy" />

        <activity
            android:name=".MainActivity"
            android:label="Example">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".banner.BannerActivity"
            android:label="Banner"/>

        <activity android:name=".base.BaseActivity"
            android:label="Base"/>

        <activity android:name=".boxing.BoxingActivity"
            android:label="Boxing"/>

        <activity android:name=".glide.GlideActivity"
            android:label="Glide"/>

        <activity android:name=".http.HTTPActivity"
            android:label="HTTP"/>

        <activity android:name=".lbs.LBSActivity"
            android:label="LBS"/>

        <activity android:name=".list.ListActivity"
            android:label="List"/>

        <activity android:name=".other.OtherActivity"
            android:label="Other"/>

        <activity android:name=".pay.PayActivity"
            android:label="Pay"/>

        <activity android:name=".permission.PermissionActivity"
            android:label="Permission"/>

        <activity android:name=".player.PlayerActivity"
            android:label="Player"/>

        <activity
            android:name=".player.OneMediaActiviy"
            android:label="OneMedia"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity
            android:name=".player.MoreMediaActiviy"
            android:label="MoreMedia"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".util.UtilActivity"
            android:label="Util"/>

        <activity android:name=".view.ViewActivity"
            android:label="View"/>

    </application>

</manifest>